{% extends "partials/base.html" %}
{% load static %}
{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url "core:index" %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> My Account
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile"><i class="fas fa-user mr-10"></i>Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "userauths:logout" %}"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content account dashboard-content pl-50">
                                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-3">Update Profile</h3>
                                            </div>
                                            {% if form.error %}
                                            <div class="alert alert-danger">
                                                <span>{{form.error}}</span>
                                            </div>
                                            {% endif %}
                                            <div class="card-body">
                                                <div class="container mt-5">
                                                    <div class="row justify-content-center">
                                                        <div class="col-md-8">
                                                            <div class="card shadow-lg">
                                                                <div class="card-body text-center">
                                                                    <div class="position-relative mb-3">
                                                                        {% if profile.image %}
                                                                        <img src="{{profile.image.url}}" class="rounded-circle mb-3 img-thumbnail" alt="Profile Image" width="150" height="150">
                                                                        {% else %}
                                                                        <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" class="rounded-circle mb-3 img-thumbnail" alt="Profile Image" width="150" height="150">
                                                                        {% endif %}
                                                                    </div>
                                                                    <form action="" method="POST" enctype="multipart/form-data">
                                                                        {% csrf_token %}
                                                                        <div class="form-group">
                                                                            <label for="fullName" class="font-weight-bold">Full Name</label>
                                                                            {{form.full_name}}
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="bio" class="font-weight-bold">Bio</label>
                                                                            {{form.bio}}
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="bio" class="font-weight-bold">Phone</label>
                                                                            {{form.phone}}
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="phone" class="font-weight-bold">Image</label>
                                                                            {{form.image}}
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="verified" class="font-weight-bold">Verified Status</label>
                                                                            <div>
                                                                                {% if user_profile.verified %}
                                                                                    <i class="fas fa-check-circle text-success"></i> Verified
                                                                                {% else %}
                                                                                    <i class="fas fa-times-circle text-danger"></i> Not Verified
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                        <button class="btn btn-primary position-absolute" type="submit" style="top: 10px; right: 10px;">
                                                                            <i class="fas fa-edit"></i> Edit
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}